@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0; 
    }
    100%{
        transform: translateX(0px);
        opacity: 1; 
    }
}

@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0; 
    }
    100%{
        transform: translateX(0px);
        opacity: 1; 
    }
}